{% include 'header.html' %}

{% load static %}
<div class="container-fluid  all-contact">
   <div class="container">
      <div class="main-contact">
         <h1 class="text-center">ƏLAQƏ</h1>
         <hr>
         <div class="row">
            <div class="col-md-4 col-sm-12 contact_details">
               <h2 class="text-center"><i class="fa fa-map-marker-alt "></i></h2>
               <h3>ÜNVAN</h3>
               <p> Bakı şəhəri, Esra Plaza, 5-ci mərtəbə</p>
            </div>
            <div class="col-md-4 col-sm-12 contact_details">
               <h2 class="text-center"><i class="fa fa-phone-volume"></i></h2>
               <h3>TELEFON</h3>
               <p> +94451 964 34 44</p>
            </div>
            <div class="col-md-4 col-sm-12 contact_details">
               <h2 class="text-center"><i class="fa fa-envelope"></i></h2>
               <h3>E-MAİL</h3>
               <p>info@bmcs.az</p>
            </div>
         </div>
      </div>
   </div>
   <div class="contact">
      <div class="unvan">
         <div id="map"></div>
         <script>
            function initMap() {
                var uluru = {lat: 40.411401, lng: 49.861840};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 16,
                    center: uluru
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
            }
         </script>
         <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwzEW5_pRCUx_Mk2yCq7kZhKoC0Be3Po4&callback=initMap"></script>
      </div>
   </div>
</div>

{% include 'footer.html' %}