{% load static %}
<!DOCTYPE html>

<html lang="en">
   <head>
      <title>Baku Management Consulting and Services</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <link href="{% static 'css/ui.css' %}" rel="stylesheet">
      <!-- logo slider -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

   </head>
   <body>
      <div class="omg2">
      <div class="container-fluid first_pic">

      </div>
      <nav class="navbar navbar-expand-sm sidebarNavigation" id="navbar">
         <div class="container">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
            <span class="sr-only">Toggle navigation</span>
            </button>
            <!--<a class="navbar-brand" href="index.php"><img src="img/logo.png"  class="main_logo img-responsive" width="220"></a> -->
            <nav class="collapse navbar-collapse justify-content-left " id="navbarsExampleDefault">
               <ul class="nav navbar-nav nav-flex-icons justify-content-end">
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'index' %}">ƏSAS SƏHİFƏ</a>
                  </li>

                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'services' %}">DƏRSLİKLƏR</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'home' %}">VİDEO DƏRSLİKLƏR</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'contact' %}">ƏLAQƏ</a>
                  </li>
                  <!--  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">Dropdown</a>
                     <div class="dropdown-menu" aria-labelledby="dropdown01">
                         <a class="dropdown-item" href="#">Action</a>
                         <a class="dropdown-item" href="#">Another action</a>
                         <a class="dropdown-item" href="#">Something else here</a>
                     </div>
                     </li> -->
               </ul>

         </nav>
         </div>
      </nav>
      <script>
         $(function() {
           // Amount of scrolling before button is shown/hidden.
           var offset = 100;

           // Fade duration
           var duration = 500;

           // Toggle view of button when scrolling.
           $(window).scroll(function() {
             if ($(this).scrollTop() > offset) {
               $('#c-go-top').fadeIn(duration);
             } else {
               $('#c-go-top').fadeOut(duration);
             }
           });

           // Scroll to top when button is clicked.
           $('#c-go-top').click(function(event) {
             event.preventDefault();
             $('html, body').animate({
               scrollTop: 0
             }, duration);
             return false;
           });
         });
      </script>
      <script>
         window.onload = function () {
            if (window.jQuery) {
               $(document).ready(function () {
                  $(".sidebarNavigation .navbar-collapse").hide().clone().appendTo("body").removeAttr("class").addClass("sideMenu").show();
                  $("body").append("<div class='overlay'></div>");
                  $(".navbar-toggle, .navbar-toggler").on("click", function () {
                     $(".sideMenu").addClass($(".sidebarNavigation").attr("data-sidebarClass"));
                     $(".sideMenu, .overlay").toggleClass("open");
                     $(".overlay").on("click", function () {
                        $(this).removeClass("open");
                        $(".sideMenu").removeClass("open")
                     })
                  });
                  $("body").on("click", ".sideMenu.open .nav-item", function () {
                     if (!$(this).hasClass("dropdown")) {
                        $(".sideMenu, .overlay").toggleClass("open")
                     }
                  });
                  $(window).resize(function () {
                     if ($(".navbar-toggler").is(":hidden")) {
                        $(".sideMenu, .overlay").hide()
                     } else {
                        $(".sideMenu, .overlay").show()
                     }
                  })
               })
            } else {
               console.log("sidebarNavigation Requires jQuery")
            }
         }

      </script>