<?php include 'includes/header.php'?>

<style>

.statistics_back h1 {
  font-size: 70px;
  color: #fff;
  position: absolute;
  bottom: 0;
  text-shadow: 1px 1px 3px #333;
}

@media screen and (max-width: 700px) {
  .statistics_back h1 {
    font-size: 50px;
  }
}

.statistics_main {
  margin-bottom: 20px 5px 200px 5px;
}

.statistics_main p {
padding: 20px 0;
}




.statistics_main li {
  padding: 5px 0;
  margin: 3px 10px;
  width: 90%;
  transition: ease 300ms;
}
/*
.statistics_main li:before {
  content: "-";
  padding: 0;
  color: #148CA1;
}
*/
.statistics_main li:hover {
  color: #25BDD8;
  padding-left: 8px;
}

.statistics_main a {
  padding: 10px;
  font-size: 15px;
  color: #148CA1;
  margin: 5px 0;
}

.statistics_main a:hover {
  color: #25BDD8;
}

button.stat_chapters {
  width: 100%;
  padding: 15px 25px;
  border: none;
  text-align: left;
  border-radius: 7px;
  margin: 7px 0;
  cursor: pointer;
  color: #fff;
  background-color: #32B5CC;
  transition: background 300ms ease;
  box-shadow: 0px 5px 12px 0px rgba(50, 181, 204, 0.6);
}

.statistics_main button:hover {
  box-shadow: 0px 5px 12px 0px rgba(20, 140, 161, 0.35);
  color: #595959;
  background-color: #fff;
}

.statistics_main button:focus {
  outline: none;
  box-shadow: none;
  box-shadow: 0px 5px 12px 0px rgba(20, 140, 161, 0.35);
}

/*STATISTICS CHAPTERS STYLE STARTS*/
.statistics-chs h2 {
 padding: 20px 0;
}

.statistics-chs p {
 font-size: 14px;
 color: #595959;
 text-indent: 50px;
}

.all-ch {
  position: -webkit-sticky;
  position: sticky;
  top:60px;
  right: 0;
  text-align: center;
  width: 100%;
  padding-top: 3.5px;
  border-top: 4px solid rgba(221, 83, 71,1);
}

.all-ch a {
  font-size: 14px;
  color: #fff;
  background: rgba(221, 83, 71,0.9);
  border-radius:0 0 25px 25px;
  padding: 10px 29px;
  margin-top: 70px;
  z-index: 1;
}

.tab2-img {
  padding: 0;
  text-align: center;
}

.tab2-img img {
  height: 17vw;
  width: 80%;
  margin:0 0 10px 0;
  object-fit: cover;

}

/* -------------------------------STATISTICS STYLE ends------------------------------------------ */
</style>


  <div class="container">
  	<div class="statistics_main">
				<p>Aşağıdakı dərsləri öyrənməklə siz Statistikanın ümumi nəzəriyyəsini ən yaxşı səviyyədə mənimsəyə bilərsiniz.</p>

		<div class="row">
			<div class="col-md-3">
				<button href="#ch1" class=" stat_chapters" data-toggle="collapse">I FƏSİL. Statistika elminin predmeti, metodu,  vəzifələri və təşkili</button>
			        <div id="ch1" class="collapse">
						<ul class="list-unstyled">
							<li><a href="ch1-1.php">1.1. Statistika haqqında anlayış</a></li>
							<li><a href="ch1-2.php">1.2. Statistikanın predmeti</a></li>
							<li><a href="ch1-3.php">1.3. Statistika elminin nəzəri əsasları və əsas kateqoriyaları və anlayışları</a></li>
							<li><a href="ch1-4.php">1.4. Böyük ədədlər qanunu və onun statistikada əhəmiyyəti</a></li>
							<li><a href="ch1-5.php">1.5. Statistika elminin metodologiyası. Statistikanın metodu</a></li>
							<li><a href="ch1-6.php">1.6. Statistika elminin sahələri</a></li>
							<li><a href="ch1-7.php">1.7. Azərbaycan Respublikasında statistikanın əsas vəzifələri və rəsmi statistikanın təşkili prinsipləri</a></li>
							<li><a href="ch1-8.php">1.8. Statistikanın tarixindən qısa məlumat</a></li>
						</ul>
			        </div>
				<button href="#ch2" class="stat_chapters" data-toggle="collapse">II FƏSİL. Statistika müşahidəsinin nəzəriyyəsi</button>
			        <div id="ch2" class="collapse">
						<ul class="list-unstyled">
							<li><a href="ch2-1.php">2.1. Statistika informasiyası haqqında anlayış</a></li>
							<li><a href="ch2-2.php">2.2. Statistika müşahidəsinin əsas təşkili formaları</a></li>
							<li><a href="ch2-3.php">2.3.	Statistika müşahidəsinin növləri və üsulları </a></li>
							<li><a href="ch2-4.php">2.4. Statistika müşahidəsinin proqram-metodoloji məsələləri</a></li>
							<li><a href="ch2-5.php">2.5.	Statistika formulyarları</a></li>
							<li><a href="ch2-6.php">2.6. Statistika müşahidəsinin mühüm təşkilat məsələləri</a></li>
							<li><a href="ch2-7.php">2.7. Statistika müşahidəsinin xətası</a></li>
						</ul>
			        </div>

				<button href="#ch3" class="stat_chapters" data-toggle="collapse">III FƏSİL.  Statistika materiallarının yekunlaşdırılması və qruplaşdırılması</button>
			        <div id="ch3" class="collapse">
						<ul class="list-unstyled">
							<li><a href="#">Statistikanın əsas anlayışları</a></li>
							<li><a href="#">Statistika haqqında anlayış</a></li>
							<li><a href="#">Statistikanın predmeti</a></li>
							<li><a href="#">Statistika elminin nəzəri əsasları və əsas kateqoriyaları və anlayışları</a></li>
							<li><a href="#">Böyük ədədlər qanunu və onun statistikada əhəmiyyəti</a></li>
							<li><a href="#">Statistika elminin metodologiyası. Statistikanın metodu</a></li>
							<li><a href="#">Statistika elminin sahələri</a></li>
						</ul>
			        </div>

				<button href="#ch4" class="stat_chapters" data-toggle="collapse">IV FƏSİL.  Statistika cədvəlləri və qrafiklər</button>
			        <div id="ch4" class="collapse">
						<ul class="list-unstyled">
							<li><a href="#">Statistikanın əsas anlayışları</a></li>
							<li><a href="#">Statistika haqqında anlayış</a></li>
							<li><a href="#">Statistikanın predmeti</a></li>
							<li><a href="#">Statistika elminin nəzəri əsasları və əsas kateqoriyaları və anlayışları</a></li>
							<li><a href="#">Böyük ədədlər qanunu və onun statistikada əhəmiyyəti</a></li>
							<li><a href="#">Statistika elminin metodologiyası. Statistikanın metodu</a></li>
							<li><a href="#">Statistika elminin sahələri</a></li>
						</ul>
			        </div>

				<button href="#ch5" class="stat_chapters" data-toggle="collapse">V FƏSİL.  Statistika göstəriciləri</button>
			        <div id="ch5" class="collapse">
						<ul class="list-unstyled">
							<li><a href="#">Statistikanın əsas anlayışları</a></li>
							<li><a href="#">Statistika haqqında anlayış</a></li>
							<li><a href="#">Statistikanın predmeti</a></li>
							<li><a href="#">Statistika elminin nəzəri əsasları və əsas kateqoriyaları və anlayışları</a></li>
							<li><a href="#">Böyük ədədlər qanunu və onun statistikada əhəmiyyəti</a></li>
							<li><a href="#">Statistika elminin metodologiyası. Statistikanın metodu</a></li>
							<li><a href="#">Statistika elminin sahələri</a></li>
						</ul>
			        </div>

				<button href="#ch6" class="stat_chapters" data-toggle="collapse">VI FƏSİL.  Statistikada orta kəmiyyət nəzəriyyəsi</button>
			        <div id="ch6" class="collapse">
						<ul class="list-unstyled">
							<li><a href="#">Statistikanın əsas anlayışları</a></li>
							<li><a href="#">Statistika haqqında anlayış</a></li>
							<li><a href="#">Statistikanın predmeti</a></li>
							<li><a href="#">Statistika elminin nəzəri əsasları və əsas kateqoriyaları və anlayışları</a></li>
							<li><a href="#">Böyük ədədlər qanunu və onun statistikada əhəmiyyəti</a></li>
							<li><a href="#">Statistika elminin metodologiyası. Statistikanın metodu</a></li>
							<li><a href="#">Statistika elminin sahələri</a></li>
						</ul>
			        </div>


				<button href="#ch7" class="stat_chapters" data-toggle="collapse">VII FƏSİL.  Variasiya göstəriciləri</button>
			        <div id="ch7" class="collapse">
						<ul class="list-unstyled">
							<li><a href="#">Statistikanın əsas anlayışları</a></li>
							<li><a href="#">Statistika haqqında anlayış</a></li>
							<li><a href="#">Statistikanın predmeti</a></li>
							<li><a href="#">Statistika elminin nəzəri əsasları və əsas kateqoriyaları və anlayışları</a></li>
							<li><a href="#">Böyük ədədlər qanunu və onun statistikada əhəmiyyəti</a></li>
							<li><a href="#">Statistika elminin metodologiyası. Statistikanın metodu</a></li>
							<li><a href="#">Statistika elminin sahələri</a></li>
						</ul>
			        </div>

				<button href="#ch8" class="stat_chapters" data-toggle="collapse">VIII FƏSİL. Seçmə müşahidəsi</button>
			        <div id="ch8" class="collapse">
						<ul class="list-unstyled">
							<li><a href="#">Statistikanın əsas anlayışları</a></li>
							<li><a href="#">Statistika haqqında anlayış</a></li>
							<li><a href="#">Statistikanın predmeti</a></li>
							<li><a href="#">Statistika elminin nəzəri əsasları və əsas kateqoriyaları və anlayışları</a></li>
							<li><a href="#">Böyük ədədlər qanunu və onun statistikada əhəmiyyəti</a></li>
							<li><a href="#">Statistika elminin metodologiyası. Statistikanın metodu</a></li>
							<li><a href="#">Statistika elminin sahələri</a></li>
						</ul>
			        </div>


				<button href="#ch9" class="stat_chapters" data-toggle="collapse">IX FƏSİL. Sosial-iqtisadi hadisələrin qarşılıqlı əlaqələrinin statistik öyrənilməsi </button>
			        <div id="ch9" class="collapse">
						<ul class="list-unstyled">
							<li><a href="#">Statistikanın əsas anlayışları</a></li>
							<li><a href="#">Statistika haqqında anlayış</a></li>
							<li><a href="#">Statistikanın predmeti</a></li>
							<li><a href="#">Statistika elminin nəzəri əsasları və əsas kateqoriyaları və anlayışları</a></li>
							<li><a href="#">Böyük ədədlər qanunu və onun statistikada əhəmiyyəti</a></li>
							<li><a href="#">Statistika elminin metodologiyası. Statistikanın metodu</a></li>
							<li><a href="#">Statistika elminin sahələri</a></li>
						</ul>
			        </div>


				<button href="#ch10" class="stat_chapters" data-toggle="collapse">X FƏSİL. Dinamika sıraları</button>
			        <div id="ch10" class="collapse">
						<ul class="list-unstyled">
							<li><a href="#">Statistikanın əsas anlayışları</a></li>
							<li><a href="#">Statistika haqqında anlayış</a></li>
							<li><a href="#">Statistikanın predmeti</a></li>
							<li><a href="#">Statistika elminin nəzəri əsasları və əsas kateqoriyaları və anlayışları</a></li>
							<li><a href="#">Böyük ədədlər qanunu və onun statistikada əhəmiyyəti</a></li>
							<li><a href="#">Statistika elminin metodologiyası. Statistikanın metodu</a></li>
							<li><a href="#">Statistika elminin sahələri</a></li>
						</ul>
			        </div>


				<button href="#ch11" class="stat_chapters" data-toggle="collapse">XI FƏSİL. İndekslər</button>
			        <div id="ch11" class="collapse">
						<ul class="list-unstyled">
							<li><a href="#">Statistikanın əsas anlayışları</a></li>
							<li><a href="#">Statistika haqqında anlayış</a></li>
							<li><a href="#">Statistikanın predmeti</a></li>
							<li><a href="#">Statistika elminin nəzəri əsasları və əsas kateqoriyaları və anlayışları</a></li>
							<li><a href="#">Böyük ədədlər qanunu və onun statistikada əhəmiyyəti</a></li>
							<li><a href="#">Statistika elminin metodologiyası. Statistikanın metodu</a></li>
							<li><a href="#">Statistika elminin sahələri</a></li>
						</ul>
			        </div>








		</div>
		</div>
	</div>
</div>




<?php include 'includes/footer.php'?>